@font-face {
    font-family: "AdventureFont";
    src: url("../fonts/ArchitectsDaughter.ttf") format("truetype");   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
}

body {
	background-color: rgb(228,191,146);
	background-size: 100%;
	border-color: white;
	font-family: 'AdventureFont', cursive;
	padding-top: 60px;
}

li, h1, h2, h3, h4, h5, h6 {
	font-family: 'AdventureFont', cursive;
}


i {
	color: white;
}

small, a {
	color: white;
	color: inherit;
}

.form-control {
	border-color: white;
}

#menu-btn {
	border-width: 0px;
}

#app-body {
	padding-top: 10px;
}

#adventurer-name {
	font-size: 24px;
}

#adventurer-name-input {
	background-color: rgb(205,133,63);
	padding: 10px;
}

#adventure-header {
	background-color: rgb(205,133,63);
}

.subtext {
	font-size: 65%;
}

.navbar-default {
	color: white;
	background-image: none;
	background-color: rgb(205,133,63);
	border-radius: 0px;
	border-width: 0px;
	margin-bottom:0;
}

.navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	/*font-family: 'Architects Daughter', cursive;*/
	font-size: 30px;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.nav-tabs, .page-header, .jumbotron, .well, .container {
	background-image: none;
	background-color: rgb(228,191,146);
	margin-bottom:0;
}

.nav.nav-tabs.nav-justified::before {
	background-image: none;
	background-color: rgb(228,191,146);	
}

.list-group-item, .stat-name, .panel, .panel-heading, .panel-default {
	background-image: none;
	background-color: rgb(228,191,146);
	border-color: white;
}

.form-control, .form-control:focus {
	box-shadow:none !important;
	background-color: rgb(228,191,146);
	border-color: white;
}

.btn-default {
	color: white;
	background-image: none;
	background-color: rgb(215,162,96);
	border-color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.input-group-addon {
	color: white;
	background-image: none;
	background-color: rgb(215,162,96);
	border-color: white;
}

.btn-default:active, .btn-default:hover, .btn-default:visited {
	background-image: none;
	background-color: white;
	border-color: white;
}
