body {
	background-color: rgb(228,191,146);
	background-size: 100%;
	border-color: white;
}

li, h1, h2, h3, h4, h5, h6 {
	font-family: 'Architects Daughter', cursive;
}

b, p {
	font-family: 'Architects Daughter', cursive;
}


i {
	color: white;
}

label, button {
	font-family: 'Architects Daughter', cursive;
}

small, a {
	color: white;
	color: inherit;
}

.form-control {
	border-color: white;
}

#app-body {
	padding-top: 10px;
}

#adventurer-name {
	font-size: 24px;
}

#adventurer-name-input {
	background-color: rgb(205,133,63);
	padding: 10px;
}

#adventure-header {
	background-color: rgb(205,133,63);
}

.subtext {
	font-size: 65%;
}

.navbar-default {
	color: white;
	background-image: none;
	background-color: rgb(205,133,63);
	border-radius: 0px;
	border-width: 0px;
	margin-bottom:0;
}

.navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	font-family: 'Architects Daughter', cursive;
	font-size: 30px;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.nav-tabs, .page-header, .jumbotron, .well, .container {
	background-image: none;
	background-color: rgb(228,191,146);
	margin-bottom:0;
}

.nav.nav-tabs.nav-justified::before {
	background-image: none;
	background-color: rgb(228,191,146);	
}

.list-group-item, .stat-name, .panel, .panel-heading, .panel-default {
	background-image: none;
	background-color: rgb(228,191,146);
	border-color: white;
}

.form-control, .form-control:focus {
	box-shadow:none !important;
	background-color: rgb(228,191,146);
	border-color: white;
}

.btn-default {
	color: white;
	background-image: none;
	background-color: rgb(215,162,96);
	border-color: white;
}

.input-group-addon {
	color: white;
	background-image: none;
	background-color: rgb(215,162,96);
	border-color: white;
}

.btn-default:active, .btn-default:hover, .btn-default:visited {
	background-image: none;
	background-color: white;
	border-color: white;
}
